
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.title {
    color: #f2f2f2;
    font-size: 85px;
    animation: flipTitle 2s;
}

@keyframes flipTitle {
    from {
        transform: rotateX(90deg);
    } 
    to {
        transform: rotateX(0deg);
    }
}

.containerInput {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.containerInput input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #f2f2f2;
    outline: none;
    margin-right: 8px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    transition: transform 0.5s;
}

button:hover {
    transform: scale(1.1);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 500px;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

main h2 {
    margin: 16px 0;
    color: #333333;
}

main span {
    margin-bottom: 16px;
    font-weight: bold;
}

@media (max-width: 620px) {
    .title {
        font-size: 60px; 
    }

    main h2 {
        font-size: 28px;
    }

    main {
        width: 80%;
        min-height: 250px;
    }
}




